.text-input{
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300 ;
    padding: $s-size;
    border: 1px solid #cacccd;
}
.select{
    @extend .text-input;
}
.textarea{
    @extend .text-input;
    height: 10rem;
}